# DB URL e.g. postgresql+psycopg2://login:password@localhost/db_name
DATABASE_URL=

# TG Bot Token e.g. 0123456789:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
BOT_TOKEN=

# With True, system will use mock account
DEV_MODE=