@use 'sass:color'


$background-color: #f4f5f7
$text-color: #171717
$border-color: #d8d8d8
$modal-background: #fff


// sizing
$xs: .125rem
$sm: .25rem
$md: .375rem
$lg: .5rem
$xl: .75rem
$xxl: 1rem
$xxxl: 1.5rem
$xxxxl: 2rem

// font-sizes
$font-xs: .75rem
$font-sm: .875rem
$font-md: 1rem
$font-lg: 1.125rem
$font-xl: 1.25rem
$font-xxl: 1.375rem
$font-xxxl: 1.5rem

// Telegram safe-area
$safe-top: var(--tg-safe-area-inset-top, 0px)
$safe-bottom: var(--tg-safe-area-inset-bottom, 0px)
$safe-left: var(--tg-safe-area-inset-left, 0px)
$safe-right: var(--tg-safe-area-inset-right, 0px)

$height: var(--tg-viewport-height, 100vh)

@mixin skeleton($radius: $lg, $height: $xxl, $width: 100%)
  display: block
  position: relative
  overflow: hidden
  height: $height
  width: $width
  border-radius: $radius
  background: color.adjust($background-color, $blackness: 8%)

  &::after
    content: ""
    position: absolute
    inset: 0
    transform: translateX(-100%)
    background: linear-gradient(90deg, transparent, rgba($text-color, 0.05), transparent)
    animation: skeleton-loading 1.4s infinite

  @keyframes skeleton-loading
    100%
      transform: translateX(100%)

@mixin card-shadow
  box-shadow: 0 $xs $lg rgba($text-color, 0.05)