@use './variables' as *
@use 'sass:color'
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap')


*
  font-family: "Wix Madefor Display", sans-serif
  font-optical-sizing: auto
  font-style: normal
  padding: 0
  margin: 0
  box-sizing: border-box
  color: $text-color
  font-size: $font-md

html
  background-color: $background-color
  scroll-behavior: smooth

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  -moz-appearance: textfield
  margin: 0

input[type=number]
  -moz-appearance: textfield

body
  overflow-x: hidden


.app
  display: flex
  flex-direction: column
  position: relative
  height: $height
  min-height: $height
  padding: $safe-top + $md $safe-right + $md $safe-bottom + $md $safe-left + $md

  .loader-container
    width: min-content
    height: min-content

    &.page
      position: absolute
      /* inset: 50%; */
      display: flex
      transform: translate(0, -100%)
      justify-self: center
      align-self: center
      align-items: center
      top: 50%

    .loader
      border-radius: 50%
      display: inline-block
      box-sizing: border-box
      animation: rotation 1s linear infinite

      &.mobile
        width: $font-md
        height: $font-md
        border: 3px solid $background-color
        border-bottom-color: transparent

      &.page
        width: 32px
        height: 32px
        border: 4px solid color.adjust($text-color, $lightness: 0%)
        border-bottom-color: transparent

      @keyframes rotation
        0%
          transform: rotate(0deg)
        100%
          transform: rotate(360deg)

  .open-modal
    cursor: pointer
    display: flex
    width: 56px
    height: 56px
    background-color: $text-color
    position: absolute
    right: $xl
    bottom: $xl
    font-size: 40px
    line-height: 48px
    color: $background-color
    align-items: center
    justify-content: center
    border-radius: 50%

  h3
    font-size: $font-lg

  .error
    font-size: $font-md
    color: #ff4d4f

  .topline
    width: 100%
    padding: $xxl
    margin-bottom: $lg

    .name
      display: flex
      gap: $xxl

      & > .skeleton
        @include skeleton(32px, $md, 50%)

      div.skeleton
        @include skeleton($font-md, $sm, 50vw)

      .names
        max-width: 100%
        overflow-x: hidden

        &.skeleton-container
          display: flex
          flex-direction: column
          gap: $sm

          h1.skeleton
            @include skeleton(30px, $lg, clamp(100px, 60vw, 200px))
          span.skeleton
            @include skeleton(16px, $md, clamp(100px, 40vw, 200px))

      .back
        display: flex
        width: 1rem + $lg + $lg
        height: 40px
        cursor: pointer
        padding: 0 $lg
        align-self: center

        &:after
          content: ''
          background: url('@/assets/back-arrow.svg') no-repeat center center
          background-size: 40px
          color: $text-color
          width: 100%
          height: 40px

    h1
      font-size: $font-xxxl
      text-overflow: ellipsis
      overflow-x: hidden

    span
      font-size: $font-sm
      color: color.adjust($text-color, $lightness: 30%)

    .menu-container
      margin-top: $xxl
      position: relative
      display: flex
      flex-direction: column
      align-items: start
      height: 24px

      menu
        display: flex
        gap: $xl
        position: relative
        list-style: none

        .menu-item
          position: relative
          padding-bottom: $sm
          cursor: pointer

      .underline
        position: absolute
        bottom: 0
        height: $xs
        width: 0
        background-color: $text-color

  .overlay
    position: fixed
    inset: 0
    background: rgba(0,0,0,0.5)
    opacity: 0
    pointer-events: none
    z-index: 10

  .modal
    position: fixed
    inset: 0
    display: flex
    align-items: flex-end
    justify-content: center
    pointer-events: none
    z-index: 11
    transform: translateY(100vh)
    align-self: end

  .modal-content
    background: $modal-background
    width: 100%
    border-radius: $xxxl $xxxl 0 0
    padding: $xxl
    pointer-events: auto
    display: flex
    flex-direction: column
    gap: $xxl
    height: 100%
    overflow-y: auto
    padding-bottom: 50px + $safe-bottom
    max-height: 80vh

  .content-wrapper
    display: flex
    width: 200vw
    height: 100%
    overflow-y: hidden

    .page-content
      width: 100vw
      height: 100%
      overflow-y: auto

  .page-content
    padding: 0 $xxl

    .empty-page
      color: color.adjust($text-color, $lightness: 30%)
      font-size: $font-sm
      text-align: center
      pointer-events: none

    &.cars
      display: grid
      grid-template-columns: repeat(auto-fill, minmax(160px, 2fr))
      grid-template-rows: min-content
      gap: $xl

      .car-card
        display: flex
        gap: $sm
        min-height: 76px
        height: min-content
        flex-direction: column
        cursor: pointer
        padding: $xxl
        background-color: $modal-background
        border-radius: $xl
        @include card-shadow

        &:first-child
          grid-column: 1 / -1

        &.skeleton
          @include skeleton(76px, $xl)

        h3
          font-size: clamp($font-md, 4.5vw, $font-lg)
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis

        span
          font-size: $font-sm
          color: color.adjust($text-color, $lightness: 30%)

  .maintenances-container
    @include container

    .maintenances-item
      @include container-item

      span
        font-size: $font-sm
        color: color.adjust($text-color, $lightness: 30%)

    .maintenances-wrapper
      display: flex
      flex-direction: column

      .maintenance-container
        height: 0
        overflow: hidden
        display: flex
        flex-direction: column
        gap: $sm

        .maintenance-item
          display: flex
          flex-direction: row
          justify-content: space-between
          &:first-child
            margin-top: $xs
            padding-top: $sm
            border-top: 1px solid $border-color

  .repairs-container
    @include container

    .repairs-item
      @include container-item

      & span
        font-size: $font-sm
        color: color.adjust($text-color, $lightness: 30%)

    .repair-wrapper
      display: flex
      flex-direction: column

      .repair-container
        height: 0
        overflow: hidden
        display: flex
        flex-direction: column
        gap: $sm

        .repair-item
          display: flex
          flex-direction: row
          justify-content: space-between
          &:first-child
            margin-top: $xs
            padding-top: $sm
            border-top: 1px solid $border-color